@import "../../theme/variables.scss";


.loginForm {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */


  width: 600px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}